In [1]:
import matplotlib.pyplot as plt
from matplotlib import cm
import numpy as np
import sys
import math
import matplotlib
import pandas as pd

In [10]:
data = pd.read_csv('FC0.csv')

In [14]:
data

         time  power
0         1.0     10
1      5001.0     10
2     10001.0     10
3     15001.0     10
4     20001.0     10
...       ...    ...
6186      NaN     10
6187      NaN     10
6188      NaN     10
6189      NaN     10
6190      NaN     10

[6191 rows x 2 columns]

In [12]:
data['power']

0       10
1       10
2       10
3       10
4       10
        ..
6186    10
6187    10
6188    10
6189    10
6190    10
Name: power, Length: 6191, dtype: int64

In [13]:
type(data['power'])

pandas.core.series.Series

In [15]:
np.arange(1, 6290, 5001, dtype=int)

array([   1, 5002])

In [44]:
import numpy as np
# Start = 5, Stop = 30, Step Size = 2
arr = np.arange(1, 31155001, 5000)
print(arr)

[       1     5001    10001 ... 31140001 31145001 31150001]

In [45]:
type(arr)

numpy.ndarray

In [46]:
len(arr)

6231

In [50]:
new_series_t = pd.Series(arr)

In [51]:
new_series_t

0              1
1           5001
2          10001
3          15001
4          20001
          ...
6226    31130001
6227    31135001
6228    31140001
6229    31145001
6230    31150001
Length: 6231, dtype: int64

In [52]:
series_x = pd.Series(new_series_t, name='time')
series_y = pd.Series(data['power'], name='power')

In [53]:
series_y

0       10
1       10
2       10
3       10
4       10
        ..
6186    10
6187    10
6188    10
6189    10
6190    10
Name: power, Length: 6191, dtype: int64

In [54]:
series_x

0              1
1           5001
2          10001
3          15001
4          20001
          ...
6226    31130001
6227    31135001
6228    31140001
6229    31145001
6230    31150001
Name: time, Length: 6231, dtype: int64

In [55]:
a = series_x.to_frame()
b = series_y.to_frame()

In [56]:
a.reset_index(drop=True, inplace=True)

In [57]:
## save csv from pandas dataframe
foo = pd.concat([a,b], axis=1)

In [58]:
foo

          time  power
0            1   10.0
1         5001   10.0
2        10001   10.0
3        15001   10.0
4        20001   10.0
...        ...    ...
6226  31130001    NaN
6227  31135001    NaN
6228  31140001    NaN
6229  31145001    NaN
6230  31150001    NaN

[6231 rows x 2 columns]

In [59]:
foo.to_csv('FC0_final_data_time_power.csv', index=False, sep=' ')