In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import numpy as np
import sys
import math
import matplotlib

In [2]:
# sed 's/,/\n/g' Force_raw.txt > Force_value.column.txt
df = pd.read_csv('Force_value.column.txt', header=None)

In [3]:
df

                 0
0         0.010107
1         0.010015
2         0.010109
3         0.010070
4         0.010128
...            ...
26362892  0.008972
26362893  0.008749
26362894  0.009027
26362895  0.008814
26362896  0.008964

[26362897 rows x 1 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.to_csv('Force_value.column.test.csv')

In [9]:
dd = pd.read_csv('Force_value.column.test.csv')
dd.columns=['Time', 'Power']
dd['Time']= dd['Time']+1
dd.to_csv('Force_value.column.test.final.csv', index=False)

In [10]:
data = pd.read_csv('Force_value.column.test.final.csv')
n= 5000
x = data['Time']
y = data['Power']*1000
t = x [::n]
p = y [::n]

In [11]:
from scipy.signal import savgol_filter
import matplotlib.pyplot as plt
yhat = savgol_filter(p, 51, 4)

In [12]:
yhat

array([10.27435698, 10.26118556, 10.24582449, ...,  9.52856203,
        9.55111063,  9.57261717])

In [13]:
series_x = pd.Series(t, name='time')
series_y = pd.Series(yhat, name='power')

In [14]:
series_y.round(2)

0       10.27
1       10.26
2       10.25
3       10.23
4       10.21
        ...
5268     9.48
5269     9.51
5270     9.53
5271     9.55
5272     9.57
Name: power, Length: 5273, dtype: float64

In [15]:
# save pandas series to Dataframe
a = series_x.to_frame()
b = series_y.round(2).to_frame()

In [ ]:
# reset index, so that both column have same index number
a.reset_index(drop=True, inplace=True)